main {
  display: grid;
  grid-template-areas: "header" "game";
  justify-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto";
}

h1 {
  grid-area: header;
}

#start-container, #game-container {
  grid-area: game;
}