#App {
  display: grid;
  grid-template-areas: "header" "game";
  justify-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto";
}

header {
  grid-area: header;
}

main {
  grid-area: game;
}